#login.modal.show
  .modal-header
    h4 Login
  .modal-body
    form.form-horizontal(action="login", method="POST")
      .container-form
        .control-group(style="text-align:center;")
          input#user(type='text', placeholder='usuário',name="user")

        .control-group(style="text-align:center;")
          input#pass(type='password', placeholder='senha',name="pass")

        .form-actions(style="border-top:0px;background-color:#fff;padding-left:0;text-align:center;")
          input.btn.btn-primary.btn-large(type='submit') Login
  #modalFooter.modal-footer.hide

script
  $("form").submit(function(e) {
    e.preventDefault(); // Prevents the page from refreshing
    var $this = $(this); // `this` refers to the current form element
    $.post(
        $this.attr("action"), // Gets the URL to sent the post to
        $this.serialize(), // Serializes form data in standard format
        function(data) {
          if(data.status==404){
            $("p#error").remove();
            $("#modalFooter").removeClass("hide");
            $("#modalFooter").append('<p id="error">Usuário ou senha inválidos</p>');
            $("p#error").addClass('login-wrong');
          }else{
            window.location.reload();
          }
        },
        "json" // The format the response should be in
    );
  });