body
  font-family: 'Droid Sans', Arial, sans-serif

ul
  list-style: none
  width: 100%
  float: left
li
  display: list-item
  float: left
  height: 300px
  width: 175px

  p#product
    text-align: center
    padding: 1px 3px
    color: #000000
    font-size: 12px
    font-weight: bold
    text-transform: uppercase
    font-family: 'Droid Sans', Arial, sans-serif

  p#price
    margin-top: 5px;
    text-align: center
    padding: 1px 3px
    color: #000000
    font-size: 12px
    font-weight: bold
    text-transform: uppercase
    